<nav-directive> </nav-directive>

<div class="container py-5"> 
    <h3 class="py-4 text-center"> Weekly Project Timesheet </h3>

    <div class="container  border">
        <h6>Select User and Week</h6>
        <form class="form-inline justify-content-center">     
            <div class = "m-1">
                <label for="userfilter" ng-show="user.usersecuritygroup.userpermission[0].viewalltimesheets" >Select User</label>
                <select class="form-control mb-2 mr-sm-2 mb-sm-0 finger" ng-model="userFilter" ng-options="user.id as user.firstname +' '+ user.lastname for user in allusers | orderBy:'firstname'" ng-show="user.usersecuritygroup.userpermission[0].viewalltimesheets"></select> 
                <label for="userfilter" ng-show="!user.usersecuritygroup.userpermission[0].viewalltimesheets" >User</label>
                <span class="form-control mb-2 mr-sm-2 mb-sm-0 finger" ng-show="!user.usersecuritygroup.userpermission[0].viewalltimesheets">{{ userfullname }}</span>
            </div>

            <div class = "m-1">
                <label class = "text-center" for="datefilter">Select Week</label>
                <div class = "form-control mb-2 mr-sm-2 mb-sm-0 d-inline-flex finger">
                    <div>
                        <img src="../component/assets/back_icon_16.png" alt="" ng-click="decrementWeek()" >
                    </div>
            
                    <div>
                        <datepicker date-disabled-weekdays="[1,2,3,4,5,6]" class = "text-center" date-format="MM/dd/yyyy" date-set="{{startDate.toString()}}">
                            <input class=" border-0 text-center finger" ng-model="startDate" date-time type="datetime"/>
                        </datepicker>
                    </div> 
            
                    <div>
                        <img src="../component/assets/next_icon_16.png" alt="" ng-click="incrementWeek()">
                    </div>
                </div>
            </div>

            <div class = "m-1">
                <label for="datefilter">.</label>
                <button type="submit" class="btn btn-outline-primary align-bottom finger" ng-click="copyLastWeek()" >Copy Last Week</button>
            </div> 
            
        </form>
    </div>

    <div class = "vert_spacer_40px"></div>

    <!--         SECTION ON TIME ENTRY         -->

    <div class="container border">
        <h6>Add New Time Entry</h6>
        <form class="form-inline justify-content-center">
            <div class = "m-1">
                <label for="userfilter">Project</label>
                <select class="form-control mb-2 mr-sm-2 mb-sm-0 text-center finger" ng-model="timeentry.project_id" ng-options="project.id as project.projectname for project in openProjects"><option value="">-- Select Project --</option></select> 
            </div>
            <div class = "m-1">
                <label for="userfilter">Task</label>
                <select class="form-control mb-2 mr-sm-2 mb-sm-0 text-center finger" ng-model="timeentry.task_id" ng-options="task.id as task.task for task in projectTasks"><option value="">-- Select Task --</option></select> 
            </div>
            <div class="m-1">
                <label for="datefilter">Hours</label>
                <input class="form-control mb-2 mr-sm-2 mb-sm-0 text-center finger" ng-model="timeentry.taskhours" type="text" placeholder="Enter Hours"/>
            </div>

            <div class = "m-1">
                <label class = "text-center" for="datefilter">Entry Date</label>
                <div class = "form-control mb-2 mr-sm-2 mb-sm-0 d-inline-flex finger">
                    <div>
                        <img src="../component/assets/back_icon_16.png" alt="" ng-click="decrementDate()" >
                    </div>
            
                    <div>
                        <datepicker class = "text-center" date-format="MM/dd/yyyy" date-set="{{entryDate.toString()}}">
                            <input class=" border-0 text-center finger" ng-model="entryDate" date-time type="datetime"/>
                        </datepicker>
                    </div> 
            
                    <div>
                        <img src="../component/assets/next_icon_16.png" alt="" ng-click="incrementDate()">
                    </div>
                </div>
            </div>
            <div class = "m-1">
                <label for="datefilter">.</label>
                <button type="submit" class="btn btn-primary align-bottom finger" ng-click="addTimeEntry(timeentry)" >Add Time</button>
            </div>   
        </form>
    </div>
                
    <div class = "vert_spacer_40px"></div>
    
    <div class="container border">
        <table id="timesheettable" class="table table-hover table-sm">
            <thead>   
                <tr>
                    <th class = "border-0"></th>
                    <th class = "border-0"></th>
                    <th class = "border-0"></th>
                    <th class = "text-center border-0">{{ dateHeader.sun }}</th>
                    <th class = "text-center border-0">{{ dateHeader.mon }}</th>
                    <th class = "text-center border-0">{{ dateHeader.tue }}</th>
                    <th class = "text-center border-0">{{ dateHeader.wed }}</th>
                    <th class = "text-center border-0">{{ dateHeader.thu }}</th>
                    <th class = "text-center border-0">{{ dateHeader.fri }}</th>
                    <th class = "text-center border-0">{{ dateHeader.sat }}</th>
                </tr>
                <tr>
                    <th class = "border-0"></th>
                    <th class = "border-0">Project</th>
                    <th class = "border-0">Task</th>
                    <th class = "text-center border-0"> Sun</th>
                    <th class = "text-center border-0"> Mon</th>
                    <th class = "text-center border-0"> Tue</th>
                    <th class = "text-center border-0"> Wed</th>
                    <th class = "text-center border-0"> Thu</th>
                    <th class = "text-center border-0"> Fri</th>
                    <th class = "text-center border-0"> Sat</th>
                </tr>
            </thead>
                    
            <tbody ng-repeat="entry in timesheet">                                      
                <tr>
                    <td>
                        <img src="./component/assets/editicon.png" alt="" class = "edit-button" ui-sref="timeentry({id: entry.timeentryid})">
                        <img src="./component/assets/deleteicon.png" alt="" class = "edit-button" ng-click="deleteTimeEntry({ entry })"></td>   
                    <td class = "text-left highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.projectname}}</td>
                    <td class = "text-left highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.task}}</td>
                    <td class = "text-center border highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.sun}}</td>
                    <td class = "text-center border highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.mon}} </td>
                    <td class = "text-center border highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.tue}}</td>
                    <td class = "text-center border highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.wed}}</td>
                    <td class = "text-center border highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.thu}}</td>
                    <td class = "text-center border highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.fri}}</td>
                    <td class = "text-center border highlightcell finger" ui-sref="timeentry({id: entry.timeentryid})">{{entry.sat}}</td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th class = "text-right">Daily Total:</th>
                    <th class = "text-center">{{ dateFooter.sun }}</th>
                    <th class = "text-center">{{ dateFooter.mon }}</th>
                    <th class = "text-center">{{ dateFooter.tue }}</th>
                    <th class = "text-center">{{ dateFooter.wed }}</th>
                    <th class = "text-center">{{ dateFooter.thu }}</th>
                    <th class = "text-center">{{ dateFooter.fri }}</th>
                    <th class = "text-center">{{ dateFooter.sat }}</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class = "text-right">Total</th>
                    <th class = "text-center">{{ weekTotal }}</th>
                </tr>
            </tfoot>
        </table>
        <!-- <div class = "text-right">
            <span >Total Hours For Week: {{ weekTotal }}</span>
        </div> -->
    </div>