<nav-directive> </nav-directive>
<div class = "vert_spacer_75px"></div>  

<div class="container py-10">
        <div class="row py-3">
            <div class="col-md-12">

<div class="col-md-8 mx-auto">
    <div class="card rounded-0">
        <div class="card-header">
            <h3 class="mb-0">Edit Time Entry</h3>
        </div>
            
        <div class="card-body">
            <div class="form-group row ">
                <label for="example-text-input" class="col-3 col-form-label">User</label>
                <div class="col-9">
                    <!-- <input class="form-control" type="text" ng-model="timeEntry.userfullname" id="example-text-input"> -->
                    <span class="form-control">{{timeEntry.user.firstname}} {{timeEntry.user.lastname}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-3 col-form-label">Project</label>
                    <div class="col-9">
                    <select class="form-control" ng-model="timeEntry.project_id" ng-options="project.id as project.projectname for project in openProjects"></select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-3 col-form-label">Task</label>
                <div class="col-9">
                    <select class="form-control mb-2 mr-sm-2 mb-sm-0 " ng-model="timeEntry.taskid" ng-options="task.taskid as task.task for task in projectTasks"></select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-3 col-form-label">Hours</label>
                <div class="col-9">
                    <input type="number" class="form-control rounded-0" id="project" required="" ng-model="timeEntry.taskhours">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-date-input" class="col-3 col-form-label">Date</label>
                <datepicker class = "text-center col-9" date-format="MM/dd/yyyy" date-set="{{timeEntry.taskdate.toString()}}">
                    <input class="form-control" ng-model="timeEntry.taskdate" date-time type="datetime"/>
                </datepicker>

            </div>

            <div class="btn-group vol-ctr">
                <button type="button" class="btn btn-danger btn-sm saveEditDeleteBttns" ng-click="deleteTimeEntry({id: timeEntry.timeentryid})">Delete</button>
                <button type="button" class="btn btn-warning btn-sm saveEditDeleteBttns" ui-sref="timesheet">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm saveEditDeleteBttns" ng-click="updateTimeSheetEntry({id: timeEntry.timeentryid},{data: timeEntry})">Save</button>
            </div>
        </div>  <!-- card body -->
    </div>  <!-- card -->
</div>
</div>




