<nav-directive> </nav-directive>

<div class = "container py-5">
    <h3 class = " py-4 text-center"> Manage Projects </h3>

    <button type="button" class="btn btn-primary" ui-sref = "newproject">Create New Project</button>
        
    <div class="pull-right">
            <label for="statusfilter">Search:</label>
            <input class = "searchbox" id="statusfilter" ng-model="projectsearch"> </input>
            <label for="statusfilter">Show Status:</label>
            <select id="statusfilter" ng-model="showstatus" ng-options="data.id as data.status for data in statusoptions"><option value="">All</option></select>
            <label for="typefilter">Show Type:</label>
            <select id="typefilter" ng-model="showtype" ng-options="data.id as data.type for data in typeoptions"><option value="">All</option></select>
        </div>


    <br>
    <hr>



    <div class="container border">
        <table id="projecttable" class="table table-hover table-sm">
            <thead>   
                <tr>
                    <th class = "border-0 modify-delete-col-width"></th>
                    <th class = "border-0">Project Name</th>
                    <th class = "border-0">Status</th>
                    <th class = "border-0">Type</th>
                </tr>
            </thead>
            
            <tbody ng-repeat="project in allprojects | filter: { projectstatus_id: showstatus||undefined, projecttype_id: showtype||undefined }  | filter: projectsearch: strict">                                      
                <tr>
                    <td class = "text-left modify-delete-col-width">
                        <img src="./component/assets/editicon.png" alt="" class = "edit-button" ui-sref="projectdetails({id: project.id})">
                        <img src="./component/assets/deleteicon.png" alt="" class = "edit-button" ng-click="deleteProject({project})"></td>   
                    <td class = "text-left" ui-sref="projectdetails({id: project.id})">{{project.projectname}}</td>
                    <td class = "text-left" ui-sref="projectdetails({id: project.id})">{{project.projectstatus.status}}</td>
                    <td class = "text-left" ui-sref="projectdetails({id: project.id})">{{project.projecttype.type}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        