.edit-button {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}


/* used on column header on timesheet.html */
th {  
    padding:0px !important;
    margin:0px !important;
}


.form-control{border-radius:0px !important;}


.datepicker-align {
    margin-top: 5px;
    }


.highlighted {
    background-color: #ffffcc;
}

.vert_spacer_40px {
    height: 40px;
}